<body>
<!-- ===== Version 26-04-2017 ==== -->


<!-- =====Sections1 ==== --> 
<div class="sectionBox"  style="border:1px solid #0094ff; width: 995px;">
<h2 style="background: #0094ff;">GAD LUN pairs Synchronous Replication<a href="#toph">&#9650;</a></h2>

<div style="text-align:center; margin: 20px 0px 0px 0px;"><img title="Schematic" alt="Schematic" src="../gadimg.png"></div>

<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 2px 4px 4px;">
 <h2>%ReplicaPrimary% - [%PtimeInfo%]</h2>
  <div><img style="display: block;" title="Response Time" alt="Response" src="%ImagePath%ResponseGADP.png"></div>
  <div><img style="display: block;" title="Transaction Rate" alt="IOPs" src="%ImagePath%IOpsGADP.png"></div>
  <div><img style="display: block;" title="Transfer rate Total" alt="MBps" src="%ImagePath%MBpsGADP.png"></div>
  <div><img style="display: block;" title="Transfer rate Read" alt="MBps" src="%ImagePath%MBpsrGADP.png"></div>
  <div><img style="display: block;" title="Transfer rate Write" alt="MBps" src="%ImagePath%MBpswGADP.png"></div>
</div>


<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 4px 4px 2px;">
 <h2>%ReplicaSecondary% - [%StimeInfo%]</h2>
  <div><img style="display: block;" title="Response Time" alt="Response" src="%ImagePath%ResponseGADS.png"></div>
  <div><img style="display: block;" title="Transaction Rate" alt="IOPs" src="%ImagePath%IOpsGADS.png"></div>
  <div><img style="display: block;" title="Transfer rate Total" alt="MBps" src="%ImagePath%MBpsGADS.png"></div>
  <div><img style="display: block;" title="Transfer rate Read" alt="MBps" src="%ImagePath%MBpsrGADS.png"></div>
  <div><img style="display: block;" title="Transfer rate Write" alt="MBps" src="%ImagePath%MBpswGADS.png"></div>
</div>


</div>

