<!-- =====Sections0 ==== --> 
<div class="sectionBox" style="border:1px solid #e570e7; width: 995px; margin-top: 20px">
<h2 style="background: #e570e7;">Workload</h2>
<div style="display: inline-block;"><img title="IOPs trend - average: %IOPsTrend% [IOPs]." alt="LongTerm IOPs" src="%ImagePath%IopsTrend_00.png" onclick="DynChart('IopsTrend_00', 'Total IOPs', '[IOPs]')" style="cursor: alias;"></div>
<div style="display: inline-block;"><img title="Transfer rate trend - average: %MBsTrend% [IOPs]." alt="LongTerm MBs" src="%ImagePath%MBsTrend_00.png" onclick="DynChart('MBsTrend_00', 'Total MB/s', '[MB/s]')" style="cursor: alias;"></div>
</div>

<!-- =====Sections1 ==== --> 
<div class="sectionBox" style="border:1px solid #0094ff; width: 995px; margin-top: 10px">
<h2 style="background: #0094ff;">Response Time</h2>
<div style="display: inline-block;"><img title="Response trend - average: %ResponseTrend% [ms]." alt="LongTerm Response" src="%ImagePath%ResponseTrend_00.png" onclick="DynChart('ResponseTrend_00', 'Response Time', '[ms]')" style="cursor: alias;"></div>
<div style="display: inline-block; width: 470px; vertical-align: top;  padding-top: 15px">
%ResponseTrendTable%
</div>
</div>

<!-- =====Sections2 ==== --> 
<div class="sectionBox" style="border:1px solid #ffd65e; width: 995px; margin-top: 10px">
<h2 style="background: #ffd65e;">CPU & Cache</h2>
<div style="display: inline-block;"><img title="Controller 0 trend - average: %CPUtrend0% [%]." alt="LongTerm CPU" src="%ImagePath%CPUTrend_00.png" onclick="DynChart('CPUTrend_00', 'CPU Utilization', '[%]')" style="cursor: alias;"></div>
<div style="display: inline-block;"><img title="Controller 1 trend - average: %CPUtrend1% [%]." alt="LongTerm CPU" src="%ImagePath%WPTrend_00.png" onclick="DynChart('WPTrend_00', 'Write Pending Rate', '[%]')" style="cursor: alias;"></div>
</div>


<!-- =====Sections3 ==== --> 
<div class="sectionBox" style="border:1px solid #a4b357; width: 995px; margin-top: 10px">
<h2 style="background: #a4b357;">HDD Utilization</h2>
<div style="display: inline-block;"><img title="SSD Drives trend - average: %SSDTrend% [%]." alt="LongTerm SSD" src="%ImagePath%SSDTrend_00.png" onclick="DynChart('SSDTrend_00', 'SSD Utilization', '[%]')" style="cursor: alias;"></div>
<div style="display: inline-block;"><img title="SAS 10k Drives trend - average: %10kHDDTrend% [%]." alt="LongTerm SAS" src="%ImagePath%10kHDDTrend_00.png" onclick="DynChart('10kHDDTrend_00', '10k HDD Utilization', '[%]')" style="cursor: alias;"></div>
<div style="display: inline-block;"><img title="SAS 15k Drives trend - average: %15kHDDTrend% [%]." alt="LongTerm SAS" src="%ImagePath%15kHDDTrend_00.png" onclick="DynChart('15kHDDTrend_00', '15k HDD Utilization', '[%]')" style="cursor: alias;"></div>
<div style="display: inline-block;"><img title="NL-SAS 7k2 Drives trend - average: %7k2HDDTrend% [%]." alt="LongTerm SAS" src="%ImagePath%7k2HDDTrend_00.png" onclick="DynChart('7k2HDDTrend_00', '7k2 HDD Utilization', '[%]')" style="cursor: alias;"></div>
</div>

<!-- =====Sections4 ==== --> 
<div class="sectionBox" style="border:1px solid #ffd65e; width: 995px; margin-top: 10px">
<h2 style="background: #ffd65e;">External Storages</h2>
<div style="display: inline-block;"><img title="External Storage IOPs trend - average: %ExRespTrend% [IOPs]." alt="LongTerm External IOPs" src="%ImagePath%ExRespTrend_00.png" onclick="DynChart('ExRespTrend_00', 'External Storage Response', '[ms]')" style="cursor: alias;"></div>
<div style="display: inline-block;"><img title="External Storage MB/s trend - average: %ExMBsTrend% [MB/s]." alt="LongTerm External MBps" src="%ImagePath%ExMBsTrend_00.png" onclick="DynChart('ExMBsTrend_00', 'External Storage MB/s', '[MB/s]')" style="cursor: alias;"></div>
</div>
