<!-- ===== Replication ===== -->
<div id="repli">
<div class="sectionBox" style="border:1px solid #c3d9ff; width: 995px;">
<h2 style="background: #c3d9ff;">TrueCopy Replication<a href="#toph">&#9650;</a></h2>

<div><img title="Replication response time - average: %SyncRespAvg%, peak: %SyncRespMax%." alt="Iops" src="%ImagePath%SyncResponse_00.png"></div>
<div>Latency over the entire data collection on the Replication line. X-Axis represents Date-Time, Y-Axis represents latency [ms]. Average latency: %SyncRespAvg% [ms], peak: %SyncRespMax% [ms].</div>

<div><img title="Replication transfer rate - average: %SyncMBsAvg%, peak: %SyncMBsMax%." alt="MB/s" src="%ImagePath%SyncMBs_00.png"></div>
<div>Transfer rate over the entire data collection on Replication line. X-Axis represents Date-Time, Y-Axis represents transfer rate on ports [MB/s]. Average: %SyncMBsAvg% [MB/s], peak: %SyncMBsMax%. [MB/s]</div>
</div>
</div>


