<body>
<!-- ===== Version 26-04-2017 ==== -->



<!-- =====Sections1 ==== --> 
<div class="sectionBox"  style="border:1px solid #0094ff; width: 995px;">
<h2 style="background: #0094ff;">GAD LUN pairs Synchronous Replication<a href="#toph">&#9650;</a></h2>

<div style="text-align:center; margin: 20px 0px 0px 0px;"><img title="Schematic" alt="Schematic" src="../repliimg_r.png"></div>

<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 2px 4px 4px;">
 <h2>%ReplicaPrimary% - [%PtimeInfo%]</h2>
  <div><img style="display: block;" title="Response - TrueCopy Primary to Secondary operations." alt="Response" src="%ImagePath%ResponseTCP.png"></div>
  <div><img style="display: block;" title="Transfer rate - TrueCopy Primary to Secondary operations." alt="MBps" src="%ImagePath%MBpsTCP.png"></div>
  <div><img style="display: block;" title="Transaction Rate - TrueCopy Primary to Secondary operations." alt="IOPs" src="%ImagePath%IOpsTCP.png"></div>
  <div><img style="display: block;" title="Sync Pairs - TrueCopy Primary to Secondary operations." alt="IOPs" src="%ImagePath%SyncTCP.png"></div>
</div>


<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 4px 4px 2px;">
 <h2>%ReplicaSecondary% - [%StimeInfo%]</h2>
  <div><img style="display: block;" title="Response - TrueCopy Secondary to Primary operations." alt="Response" src="%ImagePath%ResponseTCS.png"></div>
  <div><img style="display: block;" title="Transactions rate - Secondary to Primary to Secondary operations." alt="MBps" src="%ImagePath%MBpsTCS.png"></div>
  <div><img style="display: block;" title="Transfer Rate - Secondary to Primary operations." alt="IOPs" src="%ImagePath%IOpsTCS.png"></div>
  <div><img style="display: block;" title="Sync Pairs - TrueCopy Secondary to Primary operations." alt="IOPs" src="%ImagePath%SyncTCS.png"></div>
</div>

<div style="text-align:center; margin: 0px 0px 20px 0px;"><img title="Schematic" alt="Schematic" src="../repliimg_l.png"></div>

</div>

<br><br>



<!-- =====Sections1 ==== --> 
<div class="sectionBox"  style="border:1px solid #fb83fa; width: 995px;">
<h2 style="background: #fb83fa;">GAD POrts Synchronous Replication<a href="#toph">&#9650;</a></h2>

<div style="text-align:center; margin: 20px 0px 0px 0px;"><img title="Schematic" alt="Schematic" src="../repliimg_r.png"></div>

<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 2px 4px 4px;">
 <h2>%ReplicaPrimary% - [%PtimeInfo%]</h2>
  <div><img style="display: block;" title="Response Time of Secondary System." alt="Response" src="%ImagePath%ResponsePortP.png"></div>
  <div><img style="display: block;" title="Transfer Rate sent to Secondary System." alt="MBps" src="%ImagePath%MBpsPortP.png"></div>
</div>


<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 4px 4px 2px;">
 <h2>%ReplicaSecondary% - [%StimeInfo%]</h2>
  <div><img style="display: block;" title="Response Time of Primary System." alt="Response" src="%ImagePath%ResponsePortS.png"></div>
  <div><img style="display: block;" title="Transfer Rate sent to Secondary System." alt="MBps" src="%ImagePath%MBpsPortS.png"></div>
</div>

<div style="text-align:center; margin: 0px 0px 20px 0px;"><img title="Schematic" alt="Schematic" src="../repliimg_l.png"></div>

</div>

<br><br>

<!-- =====Sections2 ==== --> 
<div class="sectionBox" style="border:1px solid #ffa84c; width: 995px;">
<h2 style="background: #ffa84c;">Quorum connection State<a href="#toph">&#9650;</a></h2>

<div style="text-align:center; margin: 20px 0px 4px 0px;"><img title="Schematic" alt="Schematic" src="../quorumimg.png"></div>
 
<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 2px 4px 4px;">
 <h2>%QuorumPrimary%  - [%PtimeInfo%]</h2>
  <div><img style="display: block;" title="Response - Primary Quorum operations." alt="Response" src="%ImagePath%ResponseQP.png"></div>
  <div><img style="display: block;" title="Transactions rate - Primary Quorum operations." alt="MBps" src="%ImagePath%MBpsQP.png"></div>
</div>


<div class="sectionBox" style="border:1px solid silver; width: 488px; vertical-align:top; margin: 4px 4px 4px 2px;">
 <h2>%QuorumSecondary%  - [%StimeInfo%]</h2>
  <div><img style="display: block;" title="Response - Secondary Quorum operations." alt="Response" src="%ImagePath%ResponseQS.png"></div>
  <div><img style="display: block;" title="Transactions rate - Secondary Quorum operations." alt="MBps" src="%ImagePath%MBpsQS.png"></div>
</div>


</div>
