
<!-- ===== footer ==== --> 
<p class="footer">
<a  href="http://sos.dataclue.cz" title="Helpdesk">Helpdesk</a>&nbsp; | &nbsp; 
 Hotline: +420 724 652 741 &nbsp; | &nbsp;
 <a href="http://www.dataclue.cz/" title="About Us">About Us</a>  &nbsp; | &nbsp; 
 <a href="http://www.dataclue.cz/#kontakt" title="Contacts">Contacts</a><br />
Created: %ReportTime%  © 2006 - 2018 DataClue s.r.o. All Rights Reserved | Using materials of these webpages including their parts is not allowed without permission.  
</p>

      
</body>
</html>