<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>%template%</title>
<link rel="stylesheet" type="text/css" href="/metro_styles.css" />
<body>
<!-- ===== Version 3-12-2016 ==== -->

<!-- ===== Header ==== --> 
<div id="toph">
 <div class="myBox" style="border:1px solid black; width: 640px; height: 88px; margin: 0px; text-align: left;"> 
   <h2 style="background: #d8d8d8; font-size:20px;">System: %StorageSystem%<a href="/index.html">&#9668;</a></h2>
   <p>&nbsp;Documents</p>
 </div>
 <div style="display: inline-block; float:right;"><img style="display: block;" title="logo" alt="logo" src="/logo.png"></div>
</div>
<br>
