<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="metro_styles.css" />
<link rel="stylesheet" type="text/css" href="wmenu.css" />
<title>Storage Analytics Web Archive</title>
</head>

<body>

<!-- ===== Header ==== --> 
<div>
 <div class="myBox" style="border:1px solid black; width: 480px; height: 115px; margin: 0px; text-align: left;"> 
   <h2 style="background: #d8d8d8; font-size:20px;">Storage Analytics 8.86</h2>
   <p>&nbsp;Registred systems</p>
 </div>
 <div style="float:right;"><img style="display: block;" title="logo" alt="logo" src="wlogo.png"></div>
</div>

<br>


