<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>%template%</title>
<link rel="stylesheet" type="text/css" href="../metro_styles.css" />


<body>
<!-- ===== Version 27-5-2015 ==== -->



<!-- ===== Header ==== --> 
<div id="toph">
 <div class="myBox" style="border:1px solid black; width: 640px; height: 88px; margin: 0px; text-align: left;"> 
   <h2 style="background: #d8d8d8; font-size:20px;">System: %StorageSystem%<a href="../index.html">&#9668;</a></h2>
   <p>&nbsp;%ReportDate%&nbsp;&#10148;&nbsp;%JobName%</p>
 </div>
 <div style="display: inline-block; float:right;"><img style="display: block;" title="logo" alt="logo" src="../logo.png"></div>
</div>

<br>


<!-- =====DashBoard ==== --> 
<div>
 <div class="myBox" style="border:1px solid #0094ff;  width: 157px;">
  <h2 style="background: #0094ff;">Workload<a href="#sec1">&#9658;</a></h2>
  <p>%PortIopsAvg%<span style="font-size:12px;">&nbsp;IOPs</span></p>
  <p style="font-size:11px; font-weight: normal">Peak: %PortIopsMax% IOPs</p>
 </div>
     
 <div class="myBox" style="border:1px solid #ffd65e;  width: 157px;">
  <h2 style="background: #ffd65e;">Transfer<a href="#sec1">&#9658;</a></h2>
  <p>%PortMBsAvg%<span style="font-size:11px;">&nbsp;MB/s</span></p>
  <p style="font-size:11px; font-weight: normal">Peak: %PortMBsMax% MB/s</p>
 </div>

 <div class="myBox" style="border:1px solid #a4b357;  width: 157px;">
  <h2 style="background: #a4b357;">Response<a href="#sec2">&#9658;</a></h2>
  <p>%PGRespAvg%<span style="font-size:11px;">&nbsp;ms</span></p>
  <p style="font-size:11px; font-weight: normal">Peak: %PGRespMax% ms</p>
 </div>
     
<div class="myBox" style="border:1px solid #ff670f;  width: 157px;">
  <h2 style="background: #ff670f;">CPU<a href="#sec2">&#9658;</a></h2>
  <p>%ProcUtilAvg%<span style="font-size:11px;">&nbsp;%</span></p>
  <p style="font-size:11px; font-weight: normal">Peak: %ProcUtilMax% %</p>
</div>

<div class="myBox" style="border:1px solid #E0BA96;  width: 157px;">
  <h2 style="background: #E0BA96;">HDD<a href="#sec3">&#9658;</a></h2>
  <p>%PGUtilAvg%<span style="font-size:11px;">&nbsp;%</span></p>
  <p style="font-size:11px; font-weight: normal">Peak: %PGUtilMax% %</p>
</div>

<div class="myBox" style="border:1px solid #fceabb;  width: 157px;">
  <h2 style="background: #fceabb;">Consumed Capacity<a href="#sec3">&#9658;</a></h2>
  <p>%Consumed% <span style="font-size:11px;">&nbsp;TB</span></p>
  <p style="font-size:11px; font-weight: normal">Total: %Total% TB</p>
</div>
</div>

<br>
<hr>

<!-- =====Sections0 ==== --> 
<div>
<div class="sectionBox" style="border:1px solid #e570e7; width: 995px;">
<h2 style="background: #e570e7;">Capacity Usage<a href="#toph">&#9650;</a></h2>
<div style="display: inline-block;"><img title="Capacity Usage" alt="Iops" src="%ImagePath%CapacityUsage_00.png"></div>
<div style="display: inline-block;"><img title="Capacity Usage" alt="Iops" src="%ImagePath%CapacityUsageRatio_00.png"></div>
</div>
</div>


<!-- =====Sections1 ==== --> 
<div id="sec1">
<div class="sectionBox" style="border:1px solid #0094ff; width: 495px;">
<h2 style="background: #0094ff;">Transaction Rate<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;" title="IOPs - average: %PortIopsAvg% [IOPs], peak: %PortIopsMax% [IOPs]." alt="Iops" src="%ImagePath%IopsOnPort_00.png"></div>
<div>
%IOPsTable%
</div>
</div>

<div class="sectionBox" style="border:1px solid #ffd65e; width: 495px;">
<h2 style="background: #ffd65e;">Transfer Rate<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;" title="Transfer rate - average: %PortMBsAvg% [MBps], peak: %PortMBsMax%. [MBps]" alt="MBps" src="%ImagePath%MBsOnPort_00.png"></div>
<div>
%MBsTable%
</div>
</div>
</div>


<!-- =====Sections2 ==== --> 
<div id="sec2">

<div class="sectionBox" style="border:1px solid #a4b357; width: 495px; vertical-align:top">
<h2 style="background: #a4b357;">Response Time<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;" title="Response time - average: %PGRespAvg% [%],  peak: %PGRespMax% [%]." alt="Response" src="%ImagePath%Response_00.png"></div>
<div><img style="display: block;" title="Response Histogram" alt="Response Histogram" src="%ImagePath%Response2_00.png"></div>
<div>
%ResponseTable%
</div>
</div>

<div style="width: 495px; display: inline-block;">
<div class="sectionBox" style="border:1px solid #ff670f; width: 100%;">
<h2 style="background: #ff670f;">Storage Processor Utilization<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;" title="CPU utilisation - average: %ProcUtilAvg% [%]. peaks: %ProcUtilMax% [%]." alt="ProcUtil" src="%ImagePath%ProcUtilization_00.png"></div>
</div>

<div class="sectionBox" style="border:1px solid #a9e4f7; width: 100%; margin-top: 4px">
<h2 style="background: #a9e4f7;">Cache Queue Length<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;"  title="Write Pending - average: %WritePendingAvg% [%], peak: %WritePendingMax% [%]." alt="WritePending" src="%ImagePath%WritePending_00.png"></div>
<div style="font-size: 11px">The write pending rate indicates the quantity of cache alocated by write operations.This metrics is critical for the latency: <33% Normal value, >33% Hosts priority is decreased, >70% Host are paused until cache destage.</div>
</div>
</div>
</div>

     

<!-- =====Sections3 ==== --> 
<div id="sec3">
<div class="sectionBox" style="border:1px solid #d2ff52; width: 495px;">
<h2 style="background: #d2ff52;">HDD Utilization<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;" title="Drive utilisation - Average: %PGUtilAvg%, peak: %PGUtilMax%." alt="PGUtil" src="%ImagePath%PGUtilization_00.png"></div>
<div><img style="display: block;" title="Drive utilisation." alt="PGUtil" src="%ImagePath%PGUtilization2_00.png"></div>

</div>

<div class="sectionBox" style="border:1px solid #c3d9ff; width: 495px;">
<h2 style="background: #c3d9ff;">Read/Write Ratio<a href="#toph">&#9650;</a></h2>
<div><img style="display: block;" title="Read/Write ratio." alt="RW" src="%ImagePath%SeqRndRatio_00.png"></div>
<div><img style="display: block;" title="RW" alt="RW" src="%ImagePath%SeqRndRatioPie_00.png"></div>
</div>
</div>


<!-- ===== footer ==== --> 
<p class="footer">
<a  href="http://helpdesk.3scz.cz" title="Helpdesk">Helpdesk</a>&nbsp; | &nbsp; 
 Hotline: +420 511 133 830 &nbsp; | &nbsp;Twitter:&nbsp;
 <a href="http://twitter.com/storagecz" title="Follow us on Twitter">@storagecz</a>&nbsp; • &nbsp;
 <a href="http://www.storage.cz/cs" title="Intro">Intro</a> &nbsp; | &nbsp;  
 <a href="http://www.storage.cz/cs/o-nas" title="About Us">About Us</a>  &nbsp; | &nbsp; 
 <a href="http://www.storage.cz/cs/portfolio" title="Portfolio">Portfolio</a>  &nbsp; | &nbsp; 
 <a href="http://www.storage.cz/cs/reference" title="References">References</a>  &nbsp; | &nbsp;
 <a href="http://www.storage.cz/cs/partneri" title="Partners">Partners</a>  &nbsp; | &nbsp;
 <a href="http://www.storage.cz/cs/odborna-sekce" title="Specialized Section ">Specialized Section</a> &nbsp;| &nbsp;
 <a href="http://www.storage.cz/cs/kontakt" title="Contacts">Contacts</a><br />
Created: %ReportTime%  © 2006 - 2016 3S.cz, s.r.o. All Rights Reserved | Using materials of these webpages including their parts is not allowed without 
</p>

      
</body></html>
