
table.capacity_tb {
 font-family: "Arial", Helvetica, sans-serif;
 width: 100%;
 border-collapse: separate;
 border: 0px;
 font-size: 12px;
 font-weight: normal;
}

.capacity_tb tbody tr:nth-child(even) {background: #dfebff !important;}
.capacity_tb tbody tr:nth-child(0) {background: #dfebff !important;}
.capacity_tb tbody th:nth-child(1) {text-align: center;}
.capacity_tb tbody td:nth-child(2) {text-align: left !Important; color:maroon;}
.capacity_tb tbody td:nth-child(3) {color:green;}
.capacity_tb tbody td:nth-child(4) {color:blue;}
.capacity_tb tbody td:nth-child(5) {color:olive;}
.capacity_tb tbody td:nth-child(6) {color:fuchsia;}
.capacity_tb tbody td:nth-child(7) {color:olive;}
.capacity_tb tbody td:nth-child(8) {color:fuchsia;}
.capacity_tb tbody td {text-align: right; padding: 2px 5px 2px 5px !Important;}
.capacity_tb tbody tr:hover *{background-color:#cdffa9;}
.capacity_tb tbody tr {background:#f9ffe1;}
.capacity_tb tbody th, .capacity_tb tbody th:hover { 
   background-color:#DDDDDD !important; 
   color:#000000 !important; 
   font-weight: bold;
   text-align: center;}
.capacity_tb tbody a:link, .capacity_tb tbody a:visited {
   background-color:#DDDDDD !important; 
   float:left; 
   text-align: left;  
   color:#000000 !important; 
   font-weight: bold;
   padding-left: 2px;}
.capacity_tb tbody a:hover {
   background-color:#DDDDDD !important; 
   float: left; 
   text-align: left; 
   color:#000000 !important; 
   font-weight: bold; 
   text-decoration: underline; 
   padding-left: 2px;}




.progress-bar {
   width: 170px;
   background-color: #e0e0e0;
   padding: 1px !Important;
   margin: auto !Important;
   border-radius: 3px;
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
			
.progress-bar-fill {
   color: #000000 !Important;
   margin: 0px !Important;
   text-align: center;
   display: block;
   height: 14px;
   background-color: #00EE00 !Important;
   border-radius: 3px;
   transition: width 500ms ease-in-out;
}

.warning_0 {
   background: url("warning_0.png") no-repeat;
   padding: 0px !Important;
   margin: auto !Important;
   height: 16px;
   width: 16px;
}


.warning_1 {
   background: url("warning_1.png") no-repeat;
   padding: 0px !Important;
   margin: auto !Important;
   height: 16px;
   width: 16px;
}

.warning_2 {
   background: url("warning_2.png") no-repeat;
   padding: 0px !Important;
   margin: auto !Important;
   height: 16px;
   width: 16px;
}

.question_0 {
   background: url("question_0.png") no-repeat;
   padding: 0px !Important;
   margin: auto !Important;
   height: 16px;
   width: 16px;
}