<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>%template%</title>
<link rel="stylesheet" type="text/css" href="../styles.css" />
</head>


<body>

<!-- ===== Version 15-01-2015 ==== -->


<!-- ===== Header ==== --> 
<table style="width: 100%; border-spacing: 0px 4px;" border="0">
 <tbody>
  <tr>
   <td class="header_g">&nbsp;Report:&nbsp; %JobName%<br>&nbsp;%ReportDate%</td>
   <td style="padding: 0px;" rowspan=2><img style="display: block;" title="logo" alt="logo" src="%ImagePath%logo.png"></td>
  </tr>
  <tr>
   <td class="header_s">&nbsp;<a href="../index.html">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="mailto:performance@3scz.cz?subject=Performance%20Analysis%20Request%20Time:%SelectedTime%%20%20%20System:%StorageSystem%">Contact performance team</a></td> 
  </tr></tbody>
</table>
<br>


    


 
<div class="header_s">&nbsp;Power Saving Summary</div> 
 
<!-- ===== chart ===== --> 
<img id="array01" title="Average: %ps_avg%" src="%ImagePath%ps_img.png">
<div>Percentage of Power-On drives over the Array01-09. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %ps_avg%.</div><br>
<br><br>

<!-- ===== table ===== -->
%PowerSavingTable%
<br><br>


<!-- ===== footer ==== --> 
<p class="footer">
<a  href="http://helpdesk.3scz.cz" title="Helpdesk">Helpdesk</a>&nbsp; | &nbsp; 
 Hotline: +420 511 133 830 &nbsp; | &nbsp;Twitter:&nbsp;
 <a href="http://twitter.com/storagecz" title="Follow us on Twitter">@storagecz</a>&nbsp; • &nbsp;
 <a href="http://www.storage.cz/cs" title="Intro">Intro</a> &nbsp; | &nbsp;  
 <a href="http://www.storage.cz/cs/o-nas" title="About Us">About Us</a>  &nbsp; | &nbsp; 
 <a href="http://www.storage.cz/cs/portfolio" title="Portfolio">Portfolio</a>  &nbsp; | &nbsp; 
 <a href="http://www.storage.cz/cs/reference" title="References">References</a>  &nbsp; | &nbsp;
 <a href="http://www.storage.cz/cs/partneri" title="Partners">Partners</a>  &nbsp; | &nbsp;
 <a href="http://www.storage.cz/cs/odborna-sekce" title="Specialized Section ">Specialized Section</a> &nbsp;| &nbsp;
 <a href="http://www.storage.cz/cs/kontakt" title="Contacts">Contacts</a><br />
Created: %ReportTime%  © 2006 - 2016 3S.cz, s.r.o. All Rights Reserved | Using materials of these webpages including their parts is not allowed without 
</p>

      
</body></html>
