<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>%template%</title>
<link rel="stylesheet" type="text/css" href="../../styles.css" />
</head>


<body>

<!-- ===== Version 11-6-2084 ==== -->


<!-- ===== Header ==== --> 
<table style="width: 100%; border-spacing: 0px 4px;" border="0">
 <tbody>
  <tr>
   <td class="header_g">&nbsp;Report:&nbsp; %JobName%<br>&nbsp;%ReportDate%</td>
   <td style="padding: 0px;" rowspan=2><img style="display: block;" title="logo" alt="logo" src="%ImagePath%logo.png"></td>
  </tr>
  <tr>
   <td class="header_s">&nbsp;<a href="../../index.html">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../index.html">Back</a>&nbsp;&nbsp;|&nbsp;&nbsp;
   <a href="mailto:performance@3scz.cz?subject=Performance%20Analysis%20Request%20Time:%SelectedTime%%20%20%20System:%StorageSystem%">Contact performance team</a></td> 
  </tr></tbody>
</table>


<!-- ===== SubHeader ==== --> 
<table class="offer">
 <tbody>
  <tr>
   <td><a href="#array01">Array01</a></td>
   <td><a href="#array02">Array02</a></td>
   <td><a href="#array03">Array03</a></td>
   <td><a href="#array04">Array04</a></td>
   <td><a href="#array05">Array05</a></td>
   <td><a href="#array06">Array06</a></td>
   <td><a href="#array07">Array07</a></td>
   <td><a href="#array08">Array08</a></td>
   <td><a href="#array09">Array09</a></td>
  </tr>
 </tbody>
</table>

<br>
<br>

    


 
<div class="header_s">&nbsp;Power Saving Statistic</div> 
 
<!-- ===== 01 ===== --> 
<img id="array01" title="Average: %AvgPole01%" src="%ImagePath%Pole01.png">
<div>Percentage of Power-On drives on Array01. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole01%.</div><br>
<br><br>


<!-- ===== 02 ===== --> 
<img id="array02" title="Average: %AvgPole02%" src="%ImagePath%Pole02.png">
<div>Percentage of Power-On drives on Array02. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole02%.</div><br>
<br><br>


<!-- ===== 03 ===== --> 
<img id="array03" title="Average: %AvgPole03%" src="%ImagePath%Pole03.png">
<div>Percentage of Power-On drives on Array03. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole03%.</div><br>
<br><br>


<!-- ===== 04 ===== --> 
<img id="array04" title="Average: %AvgPole04%" src="%ImagePath%Pole04.png">
<div>Percentage of Power-On drives on Array04. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole04%.</div><br>
<br><br>


<!-- ===== 05 ===== --> 
<img id="array05" title="Average: %AvgPole05%" src="%ImagePath%Pole05.png">
<div>Percentage of Power-On drives on Array05. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole05%.</div><br>
<br><br>


<!-- ===== 06 ===== --> 
<img id="array06" title="Average: %AvgPole06%" src="%ImagePath%Pole06.png">
<div>Percentage of Power-On drives on Array06. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole06%.</div><br>
<br><br>


<!-- ===== 07 ===== --> 
<img id="array07" title="Average: %AvgPole07%" src="%ImagePath%Pole07.png">
<div>Percentage of Power-On drives on Array07. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole07%.</div><br>
<br><br>

<!-- ===== 08 ===== --> 
<img id="array08" title="Average: %AvgPole08%" src="%ImagePath%Pole08.png">
<div>Percentage of Power-On drives on Array08. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole08%.</div><br>
<br><br>


<!-- ===== 09 ===== --> 
<img id="array09" title="Average: %AvgPole09%" src="%ImagePath%Pole09.png">
<div>Percentage of Power-On drives on Array09. X-Axis represents Date-Time, Y-Axis represents percentage [%]. Average :  %AvgPole09%.</div><br>
<br><br>


<!-- ===== footer ==== --> 
<p class="footer">
<a  href="http://helpdesk.3scz.cz" title="Helpdesk">Helpdesk</a>&nbsp; | &nbsp; 
 Hotline: +420 511 133 830 &nbsp; | &nbsp;Twitter:&nbsp;
 <a href="http://twitter.com/storagecz" title="Follow us on Twitter">@storagecz</a>&nbsp; • &nbsp;
 <a href="http://www.storage.cz/cs" title="Intro">Intro</a> &nbsp; | &nbsp;  
 <a href="http://www.storage.cz/cs/o-nas" title="About Us">About Us</a>  &nbsp; | &nbsp; 
 <a href="http://www.storage.cz/cs/portfolio" title="Portfolio">Portfolio</a>  &nbsp; | &nbsp; 
 <a href="http://www.storage.cz/cs/reference" title="References">References</a>  &nbsp; | &nbsp;
 <a href="http://www.storage.cz/cs/partneri" title="Partners">Partners</a>  &nbsp; | &nbsp;
 <a href="http://www.storage.cz/cs/odborna-sekce" title="Specialized Section ">Specialized Section</a> &nbsp;| &nbsp;
 <a href="http://www.storage.cz/cs/kontakt" title="Contacts">Contacts</a><br />
Created: %ReportTime%  © 2006 - 2016 3S.cz, s.r.o. All Rights Reserved | Using materials of these webpages including their parts is not allowed without 
</p>

      
</body></html>
